blockquote{
    border-left:none
}

hr {
  margin: 15px 0px !important;
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);
}


.player-card {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 25px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.player-card-name {
  font-weight: bold;
  font-size:25px;
}

.player-card-infos {
  font-size: 19px;
}
