@import url(https://fonts.googleapis.com/css?family=Patua+One);
blockquote {
  border-left: none; }

hr {
  margin: 15px 0px !important; }

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2); }

.player-card {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 25px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 5px; }

.player-card-name {
  font-weight: bold;
  font-size: 25px; }

.player-card-infos {
  font-size: 19px; }

.ARI {
  background-color: #97233F;
  color: #000; }

.ATL {
  background-color: #A71930;
  color: #000; }

.BAL {
  background-color: #241773; }
  .BAL .player-card-name {
    color: #9E7C0C; }
  .BAL .player-card-infos, .BAL .player-card-footer {
    color: white; }

.BUF {
  background-color: #00338D; }
  .BUF .player-card-name {
    color: white; }
  .BUF .player-card-infos, .BUF .player-card-footer {
    color: #C60C30; }

.CAR {
  background-color: #0085CA;
  color: #000; }

.CHI {
  background-color: #0B162A;
  color: #C83803; }

.CIN {
  background-color: #000;
  color: #FB4F14; }

.CLE {
  background-color: #22150C;
  color: #FB4F14; }

.DAL {
  background-color: #B0B7BC;
  color: #002244; }

.DEN {
  background-color: #FB4F14; }
  .DEN .player-card-name, .DEN .player-card-infos {
    color: white; }
  .DEN .player-card-footer {
    color: #002244; }

.DET {
  background-color: #005A8B; }
  .DET .player-card-name, .DET .player-card-infos {
    color: #B0B7BC; }
  .DET .player-card-footer {
    color: #000; }

.GB {
  background-color: #203731;
  color: #FFB612; }

.HOU {
  background-color: #03202F;
  color: #A71930; }

.IND {
  background-color: #002C5F;
  color: #FFF; }

.JAC {
  background-color: #000000; }
  .JAC .player-card-name, .JAC .player-card-infos {
    color: #D7A22A; }
  .JAC .player-card-footer {
    color: #006778; }

.KC {
  background-color: #E31837; }
  .KC .player-card-name, .KC .player-card-infos {
    color: white; }
  .KC .player-card-footer {
    color: #FFB612; }

.MIA {
  background-color: #005778; }
  .MIA .player-card-name, .MIA .player-card-infos {
    color: white; }
  .MIA .player-card-footer {
    color: #F58220; }

.MIN {
  background-color: #4F2683; }
  .MIN .player-card-name, .MIN .player-card-infos {
    color: #FFC62F; }
  .MIN .player-card-footer {
    color: white; }

.NE {
  background-color: #002244; }
  .NE .player-card-name, .NE .player-card-infos {
    color: white; }
  .NE .player-card-footer {
    color: #C60C30; }

.NO {
  background-color: #000;
  color: #9F8958; }

.NYG {
  background-color: #0B2265; }
  .NYG .player-card-name, .NYG .player-card-infos {
    color: white; }
  .NYG .player-card-footer {
    color: #A71930; }

.NYJ {
  background-color: #203731;
  color: #FFF; }

.OAK {
  background-color: #000;
  color: #A5ACAF; }

.PHI {
  background-color: #004953; }
  .PHI .player-card-name, .PHI .player-card-infos {
    color: white; }
  .PHI .player-card-footer {
    color: #A5ACAF; }

.PIT {
  background-color: #000;
  color: #FFB612; }

.SD {
  background-color: #002244; }
  .SD .player-card-name, .SD .player-card-infos {
    color: #FFB612; }
  .SD .player-card-footer {
    color: #0073CF; }

.SEA {
  background-color: #002244; }
  .SEA .player-card-name, .SEA .player-card-infos {
    color: #69BE28; }
  .SEA .player-card-footer {
    color: white; }

.SF {
  background-color: #AA0000; }
  .SF .player-card-name, .SF .player-card-infos {
    color: white; }
  .SF .player-card-footer {
    color: #B3995D; }

.STL {
  background-color: #002244;
  color: #B3995D; }

.TB {
  background-color: #D50A0A; }
  .TB .player-card-name, .TB .player-card-infos {
    color: white; }
  .TB .player-card-footer {
    color: #FF7900; }

.TEN {
  background-color: #002244;
  color: #4B92DB; }

.WAS {
  background-color: #5B2B2F;
  color: #FFB612; }

h1 {
  font-family: "Patua One", cursive;
  font-size: 100px;
  color: #a10d21;
  text-shadow: 3px 3px #630f1a, 4px 4px #630f1a, 5px 5px #630f1a; }

html,
body {
  height: 100%;
  padding-top: 20px;
  text-align: center; }

.main-container {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background: url("../bgabout.jpg") fixed no-repeat center;
  background-size: cover;
  color: white;
  font-family: helvetica, sans-serif; }
  .main-container .lead {
    font-size: 18px; }
  .main-container .queries {
    font-style: italic;
    margin-top: 6%; }
  .main-container .success {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 150%; }
  .main-container .noresults {
    font-weight: bold;
    color: #378b2e;
    font-size: 220%; }
  .main-container .querybar {
    width: 60%;
    min-width: 290px;
    margin: 0 auto;
    color: #a10d21; }
    .main-container .querybar input {
      width: 100%; }
  .main-container .aboutparagraph {
    font-size: 130%; }
  .main-container .footerparagraph {
    font-size: 100%; }
  .main-container a {
    color: #ffd5d5; }

/*# sourceMappingURL=style.css.map */
