.ARI {
  background-color: #97233F;
  color: #000;
}

.ATL {
  background-color: #A71930;
  color: #000;
}

.BAL {
  background-color: #241773;
  color: #9E7C0C;
}

.BUF {
  background-color: #00338D;
  color: #C60C30;
}

.CAR {
  background-color: #0085CA;
  color: #000;
}

.CHI {
  background-color: #0B162A;
  color: #C83803;
}

.CHI {
  background-color: #0B162A;
  color: #C83803;
}

.CIN {
  background-color: #000;
  color: #FB4F14;
}

.CLE {
  background-color: #22150C;
  color: #FB4F14;
}

.DAL {
  background-color: #002244;
  color: #B0B7BC;
}

.DEN {
  background-color: #FB4F14;
  color: #002244;
}

.DET {
  background-color: #005A8B;
  color: #000;
}

.GB {
  background-color: #203731;
  color: #FFB612;
}

.HOU {
  background-color: #03202F;
  color: #A71930;
}

.IND {
  background-color: #002C5F;
  color: #A5ACAF;
}

.JAC {
  background-color: #000000;
  color: #006778;
}

.KC {
  background-color: #E31837;
  color: #FFB612;
}

.MIA {
  background-color: #005778;
  color: #F58220;
}

.MIN {
  background-color: #4F2683;
  color: #FFC62F;
}

.NE {
  background-color: #002244;
  color: #C60C30;
}
.NO {
  background-color: #000;
  color: #9F8958;
}
.NYG {
  background-color: #0B2265;
  color: #A71930;
}
.NYJ {
  background-color: #203731;
  color: #FFF;
}
.OAK {
  background-color: #000;
  color: #A5ACAF;
}
.PHI {
  background-color: #004953;
  color: #A5ACAF;
}
.PIT {
  background-color: #000;
  color: #FFB612;
}
.SD {
  background-color: #0073CF;
  color: #FFB612;
}
.SEA {
  background-color: #002244;
  color: #69BE28;
}
.SF {
  background-color: #AA0000;
  color: #B3995D;
}
.STL {
  background-color: #002244;
  color: #B3995D;
}
.TB {
  background-color: #D50A0A;
  color: #34302B;
}
.TEN {
  background-color: #002244;
  color: #4B92DB;
}
.WAS {
  background-color: #5B2B2F;
  color: #FFB612;
}
