.ARI {
  background-color: #97233F;
  color: #000;
}

.ATL {
  background-color: #A71930;
  color: #000;
}

.BAL {
  background-color: #241773;
  .player-card-name {
    color: #9E7C0C;
  }
  .player-card-infos, .player-card-footer {
    color: white;
  }
}

.BUF {
  background-color: #00338D;
  .player-card-name {
    color: white;
  }
  .player-card-infos, .player-card-footer {
    color: #C60C30;
  }
}

.CAR {
  background-color: #0085CA;
  color: #000;
}

.CHI {
  background-color: #0B162A;
  color: #C83803;
}

.CIN {
  background-color: #000;
  color: #FB4F14;
}

.CLE {
  background-color: #22150C;
  color: #FB4F14;
}

.DAL {
  background-color: #B0B7BC;
  color: #002244;
}

.DEN {
  background-color: #FB4F14;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #002244;
  }
}

.DET {
  background-color: #005A8B;
  .player-card-name, .player-card-infos {
    color: #B0B7BC;
  }
  .player-card-footer {
    color: #000;
  }
}

.GB {
  background-color: #203731;
  color: #FFB612;
}

.HOU {
  background-color: #03202F;
  color: #A71930;
}

.IND {
  background-color: #002C5F;
  color: #FFF;
}

.JAC {
  background-color: #000000;
  .player-card-name, .player-card-infos {
    color: #D7A22A;
  }
  .player-card-footer {
    color: #006778;
  }
}
.KC {
  background-color: #E31837;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #FFB612;
  }
}

.MIA {
  background-color: #005778;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #F58220;
  }
}

.MIN {
  background-color: #4F2683;
  .player-card-name, .player-card-infos {
    color: #FFC62F;
  }
  .player-card-footer {
    color: white;
  }
}

.NE {
  background-color: #002244;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #C60C30;
  }
}

.NO {
  background-color: #000;
  color: #9F8958;
}

.NYG {
  background-color: #0B2265;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #A71930;
  }
}

.NYJ {
  background-color: #203731;
  color: #FFF;
}

.OAK {
  background-color: #000;
  color: #A5ACAF;
}

.PHI {
  background-color: #004953;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #A5ACAF;
  }
}

.PIT {
  background-color: #000;
  color: #FFB612;
}

.SD {
  background-color: #002244;
  .player-card-name, .player-card-infos {
    color: #FFB612;
  }
  .player-card-footer {
    color: #0073CF;
  }
}
.SEA {
  background-color: #002244;
  .player-card-name, .player-card-infos {
    color: #69BE28;
  }
  .player-card-footer {
    color: white;
  }
}

.SF {
  background-color: #AA0000;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #B3995D;
  }
}
.STL {
  background-color: #002244;
  color: #B3995D;
}

.TB {
  background-color: #D50A0A;
  .player-card-name, .player-card-infos {
    color: white;
  }
  .player-card-footer {
    color: #FF7900 ;
  }
}

.TEN {
  background-color: #002244;
  color: #4B92DB;
}

.WAS {
  background-color: #5B2B2F;
  color: #FFB612;
}
